* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #760202;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #fce138;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #760202;
    margin: 0;
    
  }
  header a {
    text-decoration: none;
    color: #760202;
  }
  
  header nav {
    
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  footer {
    background: #ffffff;
    width: 100%;
    padding: 40px 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  footer h2 {
    
    color: #760202;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
  
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #024e76;
  }
  
  section {
    padding: 60px;
  }
  
  /* Hero Style Start */
  .hero {
    
    height: 900px;
    background-size: cover;
    background-position: initial;
    background-image: url(../images/me.jpg); 
    position: relative;
    text-align:right;
  }

  
  .intro {
    text-align: center;
  }
  
  .basic-info p {
    line-height: 1.7;
    color: #760202;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .basic-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fce138;
  }
  .my-work-class {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  
  .basic-info p {
    color: #760202;
    font-size: 23px;
  }
  

  
  .section-title {
    font-size: 55px;
    color: #760202;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #760202;
  }
  
  .secondary-border {
    border-color: #760202;
  }
  
  
  /* REACH OUT STYLES START */
  .contact {
    text-align: center;
    background: #fce138;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
  }
  
  .contact h2 {
    color: #760202;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* REACH OUT STYLES END */
  